@font-face {
  font-family: "DisplayMedium";
  src: url("@/assets/fonts/FixelDisplay/FixelDisplay-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "DisplayRegular";
  src: url("@/assets/fonts/FixelDisplay/FixelDisplay-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Light";
  src: url("@/assets/fonts/FixelDisplay/FixelText-Light.ttf");
  font-style: normal;
  font-weight: normal;
}
