@import "../fonts.scss";
@import "../variables.scss";

.courses {
  position: relative;
  transform-style: preserve-3d;
  margin-bottom: 100px;
  &::before {
    width: 622px;
    height: 535px;
    border-radius: 662.935px;
    opacity: 0.15;
    background: #0057ff;
    filter: blur(135px);
    transform: rotate(-150deg);
    flex-shrink: 0;
    position: absolute;
    content: "";
    transform: translateZ(-1px);
  }
  &::after {
    width: 622px;
    height: 535px;
    border-radius: 984px;
    opacity: 0.1;
    background: #ff087e;
    filter: blur(135px);
    transform: rotate(150deg);
    flex-shrink: 0;
    position: absolute;
    content: "";
    transform: translateZ(-1px);
    top: 150px;
    right: 80px;
  }
}

.course-iteam {
  position: relative;
  .mask-area {
    clip-path: url(#courseMask);
    width: 100%;
    height: 100vh;
    max-height: 516px;
    background: url(../../img/kit.png) no-repeat right;
    background-size: contain;

    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding: 64px 48px;
    margin-top: 32px;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: url(../../img/border.svg) no-repeat center;
      background-size: cover;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 1;
      pointer-events: none;
    }
  }

  svg {
    pointer-events: none;
    width: 0;
    height: 0;
  }
  .topper {
    width: 150px;
    height: 36px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 130%;
    font-family: "DisplayRegular";
    color: white;
    border-radius: 100px;
    overflow: hidden;
    margin-bottom: 40px;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 100px;
      padding: 1px;
      background: linear-gradient(100deg, #ff087e -40.02%, #0057ff 136.94%);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #fff;

      left: 0;
      top: 0px;
      opacity: 0.03;
    }
  }

  h2 {
    font-size: 56px;
    line-height: 114%;
    background: linear-gradient(93deg, #ff087e -29.19%, #0075ff 147.43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 655px;
    margin-bottom: 24px;
  }

  .description {
    font-family: "Light";
    font-size: 18px;
    font-weight: 400;
    line-height: 156%;
    color: $text-secondary;
    max-width: 516px;
    margin-bottom: 52px;
  }

  .timer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    bottom: 0px;
    height: 74px;
    left: calc(100% - 568px);
    p {
      width: 160px;
      height: 74px;
      background: url(../../img/timer-fon.svg) no-repeat center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      font-size: 28px;
      line-height: 130%;
      &:nth-child(2) {
        left: 107px;
      }
      &:nth-child(3) {
        left: 214px;
      }
      &:nth-child(4) {
        left: 321px;
      }
      span {
        font-size: 18px;
        line-height: 156%;
        position: relative;
        top: 2px;
      }
    }
  }
}
