.partners {
  margin-top: -20px;
  margin-bottom: 100px;
  .wrap {
    width: 100%;
    .items-wrap {
      position: relative;
      display: flex;
      overflow: hidden;
      user-select: none;
      gap: 20px;
      &:before,
      &:after {
        content: "";
        height: 100%;
        top: 0;
        width: 10%;
        position: absolute;
        z-index: 1;
        pointer-events: none;
      }
      &:before {
        left: 0;
        background: linear-gradient(
          90deg,
          #05061d 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }
      &:after {
        right: 0;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          #05061d 100%
        );
      }
      .items {
        flex-shrink: 0;
        display: flex;
        gap: 20px;
        justify-content: space-around;
        min-width: 100%;
        .item {
          flex: 0 0 auto;
          width: 200px;
          height: 120px;
          display: flex;
          justify-content: center;
          margin: 10px 0;
          transition: all 0.1s ease-in-out;
        }
      }
      &.reverce-for-mob {
        display: none;
      }
    }
  }
  .marquee {
    animation: scroll 20s linear infinite;
  }
  .reverce {
    animation-direction: reverse;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }
}
